div.stats-container(style="background-color: #2f1b0e; color: #fff;")
    table.table(style="background-color: #2f1b0e; color: #fff;")
        tbody
            tr
                td.merged-text.text-right Gold:
                td.merged-text.text-left {{ playerData.gold }}
                td.merged-text.text-right Movement :
                td.merged-text.text-left {{ playerData.movement}}
                td.merged-text.text-right X :
                td.merged-text.text-left {{ playerData.coordinates.x}}
                td.merged-text.text-right Y :
                td.merged-text.text-left {{ playerData.coordinates.y}}
                td.merged-text.text-right Exp
                td.merged-text.text-left(style="width: 40%;")
                    div.progress
                        div.progress-bar.progress-bar-success(style="width: 100%") {{ playerData.experience }}
    table.table(style="background-color: #2f1b0e; color: #fff;")
        tbody
            tr
                td.merged-text.text-left USER TROOPS
                td.merged-text.text-right {{ troopsData[0].name }}:
                td.merged-text.text-left {{ playerData.troops[0] }}
                td.merged-text.text-right {{ troopsData[1].name }}:
                td.merged-text.text-left {{ playerData.troops[1] }}
                td.merged-text.text-right {{ troopsData[2].name }}:
                td.merged-text.text-left {{ playerData.troops[2] }}
                td.merged-text.text-right {{ troopsData[3].name }}:
                td.merged-text.text-left {{ playerData.troops[3] }}
                td.merged-text.text-right {{ troopsData[4].name }}:
                td.merged-text.text-left {{ playerData.troops[4] }}
                td.merged-text.text-right {{ troopsData[5].name }}:
                td.merged-text.text-left {{ playerData.troops[5] }}
                td.merged-text.text-right {{ troopsData[6].name }}:
                td.merged-text.text-left {{ playerData.troops[6] }}