.navbar-default(ng-controller="NavCtrl")
    ul.nav.navbar-nav
        li(ng-show="identity.isAuthenticated()")
            a(href="#/map") Map
        li(ng-show="identity.isAuthenticated()")
            a(href="#/castle") Castle
        li(ng-show="identity.isAuthenticated()")
            a(href="#/reports") Reports
        li.dropdown(ng-show="identity.isAuthenticated()")
            a.dropdown-toggle(href="" data-toggle="dropdown") Messages
                span.caret
            ul.dropdown-menu
                li
                    a(href="#/message-create") Create
                        span.glyphicon.glyphicon-pencil
                li.divider
                li
                    a(href="#/messages") Read
                        span.glyphicon.glyphicon-book

        li.dropdown(ng-show="identity.isAuthenticated()")
            a.dropdown-toggle(href="" data-toggle="dropdown") Other
                span.caret
            ul.dropdown-menu
                li
                    a(href="#/overview") Overview
                li.divider
                li
                    a(href="#/top-scores") Hall of Fame
                li.divider
                li
                    a(href="#/stats") Game Statistics

        li(ng-hide="identity.isAuthenticated()")
            a(href="#/top-scores") Hall of Fame
        li(ng-hide="identity.isAuthenticated()")
            a(href="#/stats") Game Statistics
        li
            a(href="#/chat") Chat