.navbar-default
    ul.nav.navbar-nav
        li
            a(href="#/overview") Overview
        li
            a(href="#/map") Map
        li
            a(href="#/castle") Castle
        li.dropdown
            a.dropdown-toggle(href="" data-toggle="dropdown") Build
                span.caret
            ul.dropdown-menu
                li
                    a(href="#/buildings") 1
                li.divider
                li
                    a(href="#/ships") 2
                li.divider
                li
                    a(href="#/troops") 3
                li.divider
                li
                    a(href="#/upgrades") 4
        li.dropdown
            a.dropdown-toggle(href="" data-toggle="dropdown") Actions
                span.caret
            ul.dropdown-menu
                li
                    a(href="#/scan") 1
                        span.glyphicon.glyphicon-search
                li.divider
                li
                    a(href="#/attack-simulate") 2
                        span.glyphicon.glyphicon-flag
                li.divider
                li
                    a(href="#/attack") 3
                        span.glyphicon.glyphicon-screenshot
        li
            a(href="#/chat") Chat
        li.dropdown
            a.dropdown-toggle(href="" data-toggle="dropdown") Messages
                span.caret
            ul.dropdown-menu
                li
                    a(href="#/message-create") Create
                        span.glyphicon.glyphicon-pencil
                li.divider
                li
                    a(href="#/messages") Read
                        span.glyphicon.glyphicon-book