body
  padding-top 120px
  & > footer
    margin-top 50px

.navbar-right
  .navbar-form
    input
      margin-right 10px
    a
      &.btn
        margin-left 10px

.toast-top-right
  top 60px
#mapHolder
  position relative
.container
  .well
    .form-horizontal
      fieldset
        .pull-right
          button
            &.btn
              &.btn-primary
                margin-right 10px

.form-group
  .alert
    &.alert-danger
      margin-bottom 0
      padding 10px

#signUpForm
  input
    height 42px

.container.player
  position absolute
  top 54%
  left 41%

footer
  padding 0 150px

.buildingBox
  border 1px solid white
  width 154px
  height 90px
  margin-right 40px
  margin-top 14px
  text-align center
  color #ffffff
  display inline-block
  font-size 12px
  padding-top 70px

.buildingsMenu
  background url("../../img/buildings.png")
  height 574px
  width 808px
  padding 0px
  padding-top 23px

.buildingsRow
  margin 0px
  padding 0px
  margin-left 32px
  text-align center

.exit
  color #ffffff
  text-align center
  width 130px
  height 20px
  margin auto
  margin-top 10px

.buildingName
  border 1px solid gray
  background-color green

.castle
  margin-top -40px
  background url("../../img/insideCastle.jpg")
  width 1000px
  height 600px
  background-size 1000px 790px

.buildingsCreator
  margin-top  250px
  position absolute
  height 200px
  width 200px
  display inline-block

.troopsCreator
  margin-top  50px
  margin-left 500px
  position absolute
  height 200px
  width 200px
  display inline-block
