body {
  padding-top: 120px;
}
body > footer {
  margin-top: 50px;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
.navbar-right .navbar-form a.btn {
  margin-left: 10px;
}
.toast-top-right {
  top: 60px;
}
.container .well .form-horizontal fieldset .pull-right button.btn.btn-primary {
  margin-right: 10px;
}
.form-group .alert.alert-danger {
  margin-bottom: 0;
  padding: 10px;
}
#signUpForm input {
  height: 42px;
}
.container.player {
  position: absolute;
  top: 54%;
  left: 41%;
}
footer {
  padding: 0 150px;
}
