.container
    .jumbotron
        h1 Overview Page
        p Stats about how much Xp you have, how much gold and all game stats (including your castle information)
        div.center-block.text-center
            div(id="overview-panel" style="position: relative; width: 800px; height: 556px; margin: 0 auto")
                div(player-stats="")
                div(id="data-filler" style="position: absolute; z-index: 100; color: #fff; line-height: 15px; font-size: 15px")
                    span(style="position: absolute; left:120px; top:133px; z-index: 500") {{ userTroops.castle[0].troopsForSale[0] }}
                    div
                        span(style="position: absolute; left:360px; top:26px; z-index: 500") {{ troopsInfo[0].attack }}
                        span(style="position: absolute; left:360px; top:46px; z-index: 500") {{ troopsInfo[0].defense }}
                        span(style="position: absolute; left:360px; top:68px; z-index: 500") {{ troopsInfo[0].damage }}
                        span(style="position: absolute; left:360px; top:88px; z-index: 500") {{ troopsInfo[0].health }}
                        span(style="position: absolute; left:360px; top:108px; z-index: 500") {{ troopsInfo[0].speed }}
                        span(style="position: absolute; left:360px; top:128px; z-index: 500") {{ troopsInfo[0].growth }}
                    span(style="position: absolute; left:513px; top:133px; z-index: 500") {{ userTroops.castle[0].troopsForSale[1] }}
                    div
                        span(style="position: absolute; left:750px; top:26px; z-index: 500") {{ troopsInfo[1].attack }}
                        span(style="position: absolute; left:750px; top:46px; z-index: 500") {{ troopsInfo[1].defense }}
                        span(style="position: absolute; left:750px; top:68px; z-index: 500") {{ troopsInfo[1].damage }}
                        span(style="position: absolute; left:750px; top:88px; z-index: 500") {{ troopsInfo[1].health }}
                        span(style="position: absolute; left:750px; top:108px; z-index: 500") {{ troopsInfo[1].speed }}
                        span(style="position: absolute; left:750px; top:128px; z-index: 500") {{ troopsInfo[1].growth }}
                    span(style="position: absolute; left:120px; top:266px; z-index: 500") {{ userTroops.castle[0].troopsForSale[2] }}
                    div
                        span(style="position: absolute; left:360px; top:159px; z-index: 500") {{ troopsInfo[2].attack }}
                        span(style="position: absolute; left:360px; top:179px; z-index: 500") {{ troopsInfo[2].defense }}
                        span(style="position: absolute; left:360px; top:201px; z-index: 500") {{ troopsInfo[2].damage }}
                        span(style="position: absolute; left:360px; top:221px; z-index: 500") {{ troopsInfo[2].health }}
                        span(style="position: absolute; left:360px; top:241px; z-index: 500") {{ troopsInfo[2].speed }}
                        span(style="position: absolute; left:360px; top:261px; z-index: 500") {{ troopsInfo[2].growth }}
                    span(style="position: absolute; left:513px; top:266px; z-index: 500") {{ userTroops.castle[0].troopsForSale[3] }}
                    div
                        span(style="position: absolute; left:750px; top:159px; z-index: 500") {{ troopsInfo[3].attack }}
                        span(style="position: absolute; left:750px; top:179px; z-index: 500") {{ troopsInfo[3].defense }}
                        span(style="position: absolute; left:750px; top:201px; z-index: 500") {{ troopsInfo[3].damage }}
                        span(style="position: absolute; left:750px; top:221px; z-index: 500") {{ troopsInfo[3].health }}
                        span(style="position: absolute; left:750px; top:241px; z-index: 500") {{ troopsInfo[3].speed }}
                        span(style="position: absolute; left:750px; top:261px; z-index: 500") {{ troopsInfo[3].growth }}
                    span(style="position: absolute; left:120px; top:400px; z-index: 500") {{ userTroops.castle[0].troopsForSale[4] }}
                    div
                        span(style="position: absolute; left:360px; top:292px; z-index: 500") {{ troopsInfo[4].attack }}
                        span(style="position: absolute; left:360px; top:312px; z-index: 500") {{ troopsInfo[4].defense }}
                        span(style="position: absolute; left:360px; top:334px; z-index: 500") {{ troopsInfo[4].damage }}
                        span(style="position: absolute; left:360px; top:354px; z-index: 500") {{ troopsInfo[4].health }}
                        span(style="position: absolute; left:360px; top:374px; z-index: 500") {{ troopsInfo[4].speed }}
                        span(style="position: absolute; left:360px; top:394px; z-index: 500") {{ troopsInfo[4].growth }}
                    span(style="position: absolute; left:513px; top:400px; z-index: 500") {{ userTroops.castle[0].troopsForSale[5] }}
                    div
                        span(style="position: absolute; left:750px; top:292px; z-index: 500") {{ troopsInfo[5].attack }}
                        span(style="position: absolute; left:750px; top:312px; z-index: 500") {{ troopsInfo[5].defense }}
                        span(style="position: absolute; left:750px; top:334px; z-index: 500") {{ troopsInfo[5].damage }}
                        span(style="position: absolute; left:750px; top:354px; z-index: 500") {{ troopsInfo[5].health }}
                        span(style="position: absolute; left:750px; top:374px; z-index: 500") {{ troopsInfo[5].speed }}
                        span(style="position: absolute; left:750px; top:394px; z-index: 500") {{ troopsInfo[5].growth }}
                    span(style="position: absolute; left:313px; top:532px; z-index: 500") {{ userTroops.castle[0].troopsForSale[6] }}
                    div
                        span(style="position: absolute; left:550px; top:425px; z-index: 500") {{ troopsInfo[6].attack }}
                        span(style="position: absolute; left:550px; top:445px; z-index: 500") {{ troopsInfo[6].defense }}
                        span(style="position: absolute; left:550px; top:467px; z-index: 500") {{ troopsInfo[6].damage }}
                        span(style="position: absolute; left:550px; top:487px; z-index: 500") {{ troopsInfo[6].health }}
                        span(style="position: absolute; left:550px; top:509px; z-index: 500") {{ troopsInfo[6].speed }}
                        span(style="position: absolute; left:550px; top:529px; z-index: 500") {{ troopsInfo[6].growth }}
                    div(ng-click="go('/castle')" style="position: absolute; left: 640px; top: 450px; z-index: 750")
                        img(src="img/accept.png")
                img(src="img/overview.gif")