.container
    .jumbotron
        h1 Profile Page
        p Stats about username, firstname family name
        p Username: {{ userInfo.username}}
        p First Name: {{ userInfo.firstName}}
        p Last Name: {{ userInfo.lastName}}