.container.buildingsMenu
    div.buildingsRow
        div.buildingBox
            | Town Hall
        div.buildingBox
            | Citadel
        div.buildingBox
            | Brotherhood of the sword
        div.buildingBox
            | Blacksmith
    div.buildingsRow
        div.buildingBox
            | Market Place
        div.buildingBox
            | Mage Guild level 2
        div.buildingBox
            | Shipyard
    div.buildingsRow
        div.buildingBox
            | Stables
        div.buildingBox
            | Griffin Bastion
    div.buildingsRow
        div.buildingBox
            | Upg. Guardhouse
        div.buildingBox
            | Upg. Archer's Tower
        div.buildingBox
            | Upg. Griffin Tower
        div.buildingBox
            | Barracks
    div.buildingsRow
        div.buildingBox
            | Monastery
        div.buildingBox
            | Training Grounds
        div.buildingBox
            | Portal of Glory
    div.exit
        | Exit