.container.buildingsMenu
    div.buildingsRow
        div.buildingBox(ng-click='buyBuilding()')
            | Town Hall
        div.buildingBox(ng-click='buyBuilding()')
            | Citadel
        div.buildingBox(ng-click='buyBuilding()')
            | Brotherhood of the sword
        div.buildingBox(ng-click='buyBuilding()')
            | Blacksmith
    div.buildingsRow
        div.buildingBox(ng-click='buyBuilding()')
            | Market Place
        div.buildingBox(ng-click='buyBuilding()')
            | Mage Guild level 2
        div.buildingBox(ng-click='buyBuilding()')
            | Shipyard
    div.buildingsRow
        div.buildingBox(ng-click='buyBuilding()')
            | Stables
        div.buildingBox(ng-click='buyBuilding()')
            | Griffin Bastion
    div.buildingsRow
        div.buildingBox(ng-click='buyBuilding()')
            | Upg. Guardhouse
        div.buildingBox(ng-click='buyBuilding()')
            | Upg. Archer's Tower
        div.buildingBox(ng-click='buyBuilding()')
            | Upg. Griffin Tower
        div.buildingBox(ng-click='buyBuilding()')
            | Barracks
    div.buildingsRow
        div.buildingBox(ng-click='buyBuilding()')
            | Monastery
        div.buildingBox(ng-click='buyBuilding()')
            | Training Grounds
        div.buildingBox(ng-click='buyBuilding()')
            | Portal of Glory
    div.exit(ng-click='buyBuilding()')