.container.buildingsMenu
    div.buildingsRow
        div.buildingBox#town-hall(ng-click='buyBuilding()')
            div.buildingName
                | Town Hall
        div.buildingBox(ng-click='buyBuilding()')
            div.buildingName
                | Citadel
        div.buildingBox(ng-click='buyBuilding()')
            div.buildingName
                | Brotherhood of the sword
        div.buildingBox(ng-click='buyBuilding()')
            div.buildingName
                | Blacksmith
    div.buildingsRow
        div.buildingBox(ng-click='buyBuilding()')
            div.buildingName
                | Market Place
        div.buildingBox(ng-click='buyBuilding()')
            div.buildingName
                | Mage Guild level 2
        div.buildingBox(ng-click='buyBuilding()')
            div.buildingName
                | Shipyard
    div.buildingsRow
        div.buildingBox(ng-click='buyBuilding()')
            div.buildingName
                | Stables
        div.buildingBox(ng-click='buyBuilding()')
            div.buildingName
                | Griffin Bastion
    div.buildingsRow
        div.buildingBox(ng-click='buyBuilding()')
            div.buildingName
                | Upg. Guardhouse
        div.buildingBox(ng-click='buyBuilding()')
            div.buildingName
                | Upg. Archer's Tower
        div.buildingBox(ng-click='buyBuilding()')
            div.buildingName
                | Upg. Griffin Tower
        div.buildingBox(ng-click='buyBuilding()')
            div.buildingName
                | Barracks
    div.buildingsRow
        div.buildingBox(ng-click='buyBuilding()')
            div.buildingName
                | Monastery
        div.buildingBox(ng-click='buyBuilding()')
            div.buildingName
                | Training Grounds
        div.buildingBox(ng-click='buyBuilding()')
            div.buildingName
                | Portal of Glory
    a(href='#castle' target='_parent')
        div.exit