.container.buildingsMenu(id="build-panel")
    div.buildingsRow
        div.buildingBox(ng-click='showBuyWindow(0)')
            div.buildingName {{ hallName }}
        div.buildingBox(ng-click='showBuyWindow(1)')
            div.buildingName {{ castleName }}
        div.buildingBox(ng-click='showBuyWindow(2)')
            div.buildingName {{ buildingsModel.other[0].name }}
        div.buildingBox(ng-click='showBuyWindow(3)')
            div.buildingName {{ buildingsModel.other[1].name }}
    div.buildingsRow
        div.buildingBox(ng-click='showBuyWindow(4)')
            div.buildingName {{ buildingsModel.other[2].name }}
        div.buildingBox(ng-click='showBuyWindow(5)')
            div.buildingName {{ buildingsModel.other[3].name }}
        div.buildingBox(ng-click='showBuyWindow(6)')
            div.buildingName {{ buildingsModel.other[4].name }}
    div.buildingsRow
        div.buildingBox(ng-click='showBuyWindow(7)')
            div.buildingName {{ buildingsModel.other[5].name }}
        div.buildingBox(ng-click='showBuyWindow(8)')
            div.buildingName {{ buildingsModel.other[6].name }}
    div.buildingsRow
        div.buildingBox(ng-click='showBuyWindow(9)')
            div.buildingName {{ buildingsModel.troops[0].name }}
        div.buildingBox(ng-click='showBuyWindow(10)')
            div.buildingName {{ buildingsModel.troops[1].name }}
        div.buildingBox(ng-click='showBuyWindow(11)')
            div.buildingName {{ buildingsModel.troops[2].name }}
        div.buildingBox(ng-click='showBuyWindow(12)')
            div.buildingName {{ buildingsModel.troops[3].name }}
    div.buildingsRow
        div.buildingBox(ng-click='showBuyWindow(13)')
            div.buildingName {{ buildingsModel.troops[4].name }}
        div.buildingBox(ng-click='showBuyWindow(14)')
            div.buildingName {{ buildingsModel.troops[5].name }}
        div.buildingBox(ng-click='showBuyWindow(15)')
            div.buildingName {{ buildingsModel.troops[6].name }}
    a(href='#castle' title="Go to castle")
        div.exit
    a(href='#castle' title="Go to castle" style="position: absolute; left: 960px; top: 600px; z-index: 750")
        img(src="img/accept.png")
    div(player-stats="")