.navbar-right(ng-controller="LoginCtrl")
    form.navbar-form(ng-hide="identity.isAuthenticated()" name="loginForm")
        .form-group
            input.form-control(type="text", placeholder="Username", ng-model="user.username" required="required")
            input.form-control(type="password", placeholder="Password", ng-model="user.password" required="required")
        button.btn.btn-primary(ng-click="login(user, loginForm)") Login
        a.btn.btn-primary(href="#/signup") Sign Up

    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{ identity.currentUser.firstName }} {{ identity.currentUser.lastName }}
                span.caret
            ul.dropdown-menu
                li
                    a.lead(href="#/profile") Profile
                li
                    a.lead(href="#/settings") Settings

                li.divider(ng-show="identity.isModerator()")
                li(ng-show="identity.isModerator()")
                    a.lead(href="#/moderator") Moderator

                li.divider(ng-show="identity.isAdmin()")
                li(ng-show="identity.isAdmin()")
                    a.lead(href="#/admin") Admin

                li.divider
                li
                    a.lead(href="#/about") About
                li.divider
                li
                    a.lead(href="#" ng-click="logout()") Sign Out